
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/MasterPage.cshtml";
}





<section class="ab-info-main py-md-5 py-4">
    <div class="container py-md-5 py-4">
        <h3 class="tittle text-center mb-lg-5 mb-3"><span class="sub-tittle">Find Us</span>About Me </h3>
        <div class="row contact-main-info">
            <div class="col-md-7 contact-right" style="font-size:25px;">


                Hey my name is Tejinder singh and currently, i am pursuing my diploma in <b>software development </b>and design from Atc vision college , auckland east Tamaki campus . I have done many languages in my level 6 course . like c## , asp.net, i have learned mvc framework that i have recently used in previous assingment . if u want check my amazing work that i have done till now . You can check that from my github link . I am going to drop that link below <b>www.github.com/tejinder0</b>


                <div class="read mt-3">

                </div>

            </div>

        </div>


    </div>
</section>

