
@{
    ViewBag.Title = "About";
    Layout = "~/MasterPage.cshtml";
}




<section class="ab-info-main py-md-5 py-4">
    <div class="container py-md-5 py-4">
        <h3 class="tittle text-center mb-lg-5 mb-3"><span class="sub-tittle">Find Us</span>Admin Login </h3>
        <div class="row contact-main-info">
            <div class="col-md-7 contact-right">


                hey my name is tejinder singh and currently, i am  pursuing my diploma in  software development and design   from Atc vision college , auckland east tmaki campus . I have  done many languages in my level 6 course . like c## , asp.net, i know about mvc framework . that i  have recently used in previous assingment . if u want check my amazing work that i have done till now . U can check that  from my github link . I am going to drop  that link below
                www.github.com/tejinder0


                <div class="read mt-3">

                </div>

            </div>

        </div>


    </div>
</section>

